<div class="note-container" style="margin-top: 100px">
  <form>
    <div *ngIf="isShow" class="firstele">
        <input matInput [(ngModel)]="title" class="title" placeholder="Title" />
        <img class="pin" src="../../../assets/pin note.svg" />
      </div>
  <div class="takeNotes" (click)="Show()">
    <div>
      <input
        matInput
        [(ngModel)]="description"
        class="note-field"
        type="text"
        placeholder="Take a note..."
      />
    </div>
    <div *ngIf="!isShow" class="Icons">
      <button mat-icon-button matTooltip="New list">
        <img src="../../../assets/newList.svg" />
      </button>
      <button mat-icon-button matTooltip=" New note with drawing">
        <img src="../../../assets/drawList.svg" />
      </button>
      <button mat-icon-button matTooltip=" New note with image">
        <img src="../../../assets/imgNote.svg" />
      </button>
    </div>
  </div>
  <div *ngIf="isShow" class="icon-container">
    <div class="icon-only">
    <div class="icon-comp">
      <app-icons></app-icons>
    </div>

    <div class="extra-icon">
      <img class="image"  src="../../../assets/createnoteicon/undo_FILL0_wght400_GRAD0_opsz48.svg" alt="">
      <img class="image" src="../../../assets/createnoteicon/redo_FILL0_wght400_GRAD0_opsz48.svg" alt="">
    </div>
  </div>
    <div class="close-btn">
    <button (click)="Close()" class="close">
      <h4>Close</h4>
    </button>
  </div>
  </div>
</form>
</div>
