<div class="display" *ngIf = 'true' (click)="update()">
<div *ngFor="let item of noteList" class="card">
<mat-card class="noteContainer">
  <div class="title">
    <div class="titleOutput">{{item.title}}</div>
    <button mat-icon-button class="btn"><img class="titlePin" mat-card-avatar src="../../../assets/pin note.svg" alt=""></button>
  </div>

  <div class="note">
    <div class="discriptionOutput">{{item.note}}</div>
  </div>
  
  <div class="icon">
    <div class="icon-compo">
      <app-icons></app-icons>
    </div>
  </div>
</mat-card>
</div>
</div>

