<div class="display">
<div class="card" *ngFor="let item of noteList | search : searchString">
<mat-card class="noteContainer">
  <div class="title" (click)="openDialog(item)">
    <div class="titleOutput">{{item.title}}</div>
    <button mat-icon-button class="btn"><img class="titlePin" mat-card-avatar src="../../../assets/pin note.svg" alt=""></button>
  </div>

  <div class="note" (click)="openDialog(item)">
    <div class="discriptionOutput">{{item.note}}</div>
  </div>

  <div class="icon">
    <div class="icon-compo">
      <app-icons [notes] = 'item' (archiveEvent)="reciveArchive($event)" (trashEvent)="reciveTrash($event)"></app-icons>
    </div>
  </div>
</mat-card>
</div>
</div>

